@model Modelo.Cadastros.Instituicao

@if (Model is null)
{
    <div class="alert alert-warning">Instituição não encontrada.</div>
}
else
{
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <!-- campos da instituição -->
                <div class="form-group">
                    <label asp-for="InstituicaoID" class="control-label"></label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-key"></i></span></div>
                        <input asp-for="InstituicaoID" class="form-control" disabled />
                    </div>

                    <label asp-for="Nome" class="control-label"></label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-user-circle"></i></span></div>
                        <input asp-for="Nome" class="form-control" disabled />
                    </div>

                    <label asp-for="Endereco" class="control-label"></label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-address-card"></i></span></div>
                        <input asp-for="Endereco" class="form-control" disabled />
                    </div>
                </div>
            </div>

            <div class="col-4">
                @{
                    // AJUSTE: use o nome real da navegação. Normalmente: Departamentos (plural).
                    var deps = (Model?.Departamento ?? Enumerable.Empty<Modelo.Cadastros.Departamento>()).ToList();
                }

                @* Se você criou em Views/Instituicao/_ComDepartamentos.cshtml, use:
                   @{ await Html.RenderPartialAsync("~/Views/Instituicao/_ComDepartamentos.cshtml", deps); }
                *@
            </div>
        </div>
    </div>
}