@model Modelo.Cadastros.Instituicao

@{
    Layout = "_LayoutIES";
}
@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/font-awesome.min.css"
              asp-fallback-href="~/lib/font-awesome/css/all.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
}
<div class="card-block">
    <div class="card-header	text-white	bg-secondary	text-center	h1">
        Exibindo	uma	instituição	existente
    </div>
    <div class="card-body">
        @{
            await Html.RenderPartialAsync("_PartialDetailsContentCard.cshtml", Model);
        }
    </div>
    <div class="card-footer	bg-info	text-center	text-white">
        <form asp-area="Cadastros" asp-controller="Instituicao" asp-action="Delete" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="id" value="@Model.InstituicaoID" />
            <button class="btn btn-danger">Excluir  Instituicao</button>
            <a asp-action="Index" class="btn	btn-info">
                Retornar	à
                listagem	de	instituições
            </a>
        </form>
        @if (TempData["Message"] is string msg)
        {
            <div class="alert alert-warning">@msg</div>
        }
    </div>
</div>
@section ScriptPage {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

