@model Modelo.Cadastros.Departamento
@{
    Layout = "_LayoutIES";
}
@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/font-awesome.min.css"
              asp-fallback-href="~/lib/font-awesome/css/all.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute" />
    </environment>
}

<div class="card">
    <div class="card-header text-white bg-secondary text-center h4">
        Exibindo um departamento existente
    </div>

    <div class="card-body">
        <partial name="_PartialDetailsContentCard.cshtml" model="Model" />
    </div>

    <div class="card-footer bg-info text-center text-white">
        <a asp-action="Edit" asp-route-id="@Model.DepartamentoID" class="btn btn-warning">Alterar</a>
        <a asp-action="Index" class="btn btn-light">Retornar à listagem de departamentos</a>
    </div>
</div>